<div class="container">
    <div class="row justify-content-md-center mt-5">
        <div class="col-md-4">
            <label for="news.title" class="form-label">Title</label>
            <input 
                type="text" class="form-control"
                placeholder="Enter a title..."
                [(ngModel)]="news.title"
            >
        </div>
        <div class="col-md-4">
            <label for="news.field">Field</label>
            <select class="form-control" [(ngModel)]="news.field">
                <option *ngFor="let field of fields" [value]="field" [(ngModel)]="news.field">
                    {{field}}
                </option>
            </select>
        </div>
        <div class="col-md-4">
            <label for="tags" class="form-label">Tags</label>
            <input 
                type="text" class="form-control"
                placeholder="Enter tags splitted with space..."
                [(ngModel)]="news.title"
            >
        </div>
    </div>
    <div class="row ml-1 mt-3">
        <label>Add Main Picture</label>
    </div>
    <div class="row justify-content-md-space-beetwen pt-1 pb-3">
        <div class="col-4">
            <input type="file"  (change)="mainOnUploadChange($event)" accept=".png, .jpg, .jpeg, .pdf" />
        </div>
    </div>
    <div class="row justify-content-md-center mt-2">
        <div class="container card mt-4 ml-5 mr-5" >
            <div class="row justify-content-md-space-beetwen mt-2">
                <div class="col-6">
                    <label for="subTitle" class="form-label">SubTitle</label>
                    <input 
                        type="text" class="form-control"
                        placeholder="Enter a subTitle..."
                        [(ngModel)]="subTitle"
                    >
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <label for="text" class="form-label">Text</label>
                    <div class="input-group">
                        <textarea 
                            class="form-control" aria-label="With textarea" 
                            style="resize: none; font-size: 15px;" placeholder="Enter text here..." 
                            rows="7" [(ngModel)]="text">
                        </textarea>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <label>Add Picture</label>
                </div>
            </div>
            <div class="row mt-1 mb-3">
                <div class="col">
                    <input type="file" (change)="paragraphOnUploadChange($event)" accept=".png, .jpg, .jpeg, .pdf" />
                </div>
            </div>
            <div class="row justify-content-md-center ml-1 mb-2">
                <button type="button" class="btn btn-success" (click)="handleParagraphCreate()">Add paragraph</button>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center mt-5 ml-2">
        <button type="button" class="btn btn-success btn-lg" (click)="handleCreateNews()">Submit</button>
    </div>
</div>