<div class="container">
    <div class="row justify-content-md-space-beetwen mt-5">
        <div class="col-md-4">
            <label for="newsCopy.title" class="form-label">Naslov</label>
            <input 
                type="text" class="form-control"
                [(ngModel)]="news.title"
            >
        </div>
        <div class="col-2 pt-4">
            <button type="button" class="btn btn-success">Sacuvaj izmene</button>
        </div>
        <div class="col-3 pt-4">
            <button type="button" class="btn btn-danger">Resetuj na poslednje sacuvano</button>
        </div>
    </div>

    <div class="row justify-content-md-space-beetwen mt-2">
        <div class="col-md-4">
            <label for="newsCopy.field">Oblast</label>
            <select class="form-control" [(ngModel)]="newsCopy.field">
                <option *ngFor="let field of fields" [value]="field">
                    {{field}}
                </option>
            </select>
        </div>
        <div class="col-2 pt-4">
            <button type="button" class="btn btn-success">Sacuvaj izmene</button>
        </div>
        <div class="col-3 pt-4">
            <button type="button" class="btn btn-danger">Resetuj na poslednje sacuvano</button>
        </div>
    </div>

    <div class="row justify-content-md-space-beetwen mt-2">
        <div class="col-md-4">
            <label for="tags" class="form-label">Tagovi</label>
            <input 
                type="text" class="form-control"
                [(ngModel)]="tags"
            >
        </div>
        <div class="col-2 pt-4">
            <button type="button" class="btn btn-success">Sacuvaj izmene</button>
        </div>
        <div class="col-3 pt-4">
            <button type="button" class="btn btn-danger">Resetuj na poslednje sacuvano</button>
        </div>
    </div>

    <div class="row ml-1 mt-3">
        <label>Promenite naslovnu fotografiju vesti</label>
    </div>

    <div class="row justify-content-md-space-beetwen pt-1 pb-3">
        <div class="col-4">
            <input type="file"  (change)="mainOnUploadChange($event)" accept=".png, .jpg, .jpeg, .pdf" />
        </div>
    </div>

    <div class=" row sn-img" *ngIf="newsCopy.mainPicturePath">
        <div class="col-4">  
            <img [src]="'data:image/png;base64,' + newsCopy.mainPicturePath" height="250px" width="250px" /> 
        </div>
        <div class="col-2 pt-4">
            <button type="button" class="btn btn-success">Sacuvaj izmene</button>
        </div>
        <div class="col-3 pt-4">
            <button type="button" class="btn btn-danger">Resetuj na poslednje sacuvano</button>
        </div>
    </div>

    <div class="row mt-5 ml-1">
        <h5>Izmena postojecih pasusa</h5>
    </div>

    <div  class="row d-flex flex-wrap justify-content-space-around mt-3">
        <div *ngFor="let item of newsCopy.paragraphs; index as ind" class="col-6 container card" >
            <div class="row justify-content-md-space-beetwen mt-2">
                <div class="col-6">
                    <label for="subTitle" class="form-label">Podnaslov</label>
                    <input 
                        type="text" class="form-control"
                        [(ngModel)]="item.subTitle"
                    >
                </div>
            </div>
            <div class="row mt-2 mb-2">
                <div class="col">
                    <label for="text" class="form-label">Tekst pasusa</label>
                    <div class="input-group">
                        <textarea 
                            class="form-control" aria-label="With textarea" 
                            style="resize: none; font-size: 15px;"
                            rows="7" [(ngModel)]="item.text">
                        </textarea>
                    </div>
                </div>
            </div>
            <div class="row justify-content-md-space-beetwen pt-1 pb-3">
                <div class="col-4">
                    <input type="file"  (change)="paragraphOnUploadChange($event, ind, false)" accept=".png, .jpg, .jpeg, .pdf" />
                </div>
            </div>

            <div class=" row sn-img ml-1 mb-2" *ngIf="item.picturePath">
                <img [src]="'data:image/png;base64,' + item.picturePath" height="150px" width="150px" />
            </div>

            <div class="row justify-content-md-center pt-1 pb-3">
                <div>
                    <button type="button" class="btn btn-danger">Obrisi pasus</button>
                </div>
            </div>

        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-3 pt-3">
            <button type="button" class="btn btn-success">Sacuvaj izmene tekstova</button>
        </div>
        <div class="col-3 pt-3">
            <button type="button" class="btn btn-danger">Resetuj na poslednje sacuvano</button>
        </div>
    </div>

    <div class="row justify-content-md-center mt-4">
        <div class="col-7 container card" >
            <div class="row ml-1 mt-2">
                <h5>Kreirajte pasus</h5>
            </div>
            <div class="row justify-content-md-space-beetwen mt-2">
                <div class="col-6">
                    <label for="subTitle" class="form-label">Podnaslov</label>
                    <input 
                        type="text" class="form-control"
                        placeholder="unesite podnaslov..."
                        [(ngModel)]="subTitle"
                    >
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <label for="text" class="form-label">Tekst pasusa</label>
                    <div class="input-group">
                        <textarea 
                            class="form-control" aria-label="With textarea" 
                            style="resize: none; font-size: 15px;" placeholder="unesite tekst pasusa..." 
                            rows="7" [(ngModel)]="text">
                        </textarea>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <label>Dodajte sliku</label>
                </div>
            </div>
            <div class="row mt-1 mb-3">
                <div class="col">
                    <input type="file" (change)="paragraphOnUploadChange($event, -1, true)" accept=".png, .jpg, .jpeg, .pdf" />
                </div>
            </div>
            <div class="row justify-content-md-center ml-1 mb-2">
                <button type="button" class="btn btn-success darkredBtn" (click)="handleParagraphCreate()" [disabled] = "!checkNewParagraph()">Dodajte pasus</button>
            </div>
        </div>
    </div>

    <div class="row justify-content-md-center mt-3" >
        <div class="col container card ml-3" style="min-height: 250px; width: 600px;" >
            <div *ngIf="newsCopy.survey" class="row ml-1 mt-2">
                <h5>Zameni anketu</h5>
            </div>
            <div *ngIf="newsCopy.survey == null" class="row ml-1 mt-2">
                <h5>Kreiraj anketu</h5>
            </div>


            <div class="row justify-content-md-space-beetwen mt-2">
                <div class="col">
                    <label for="survey.question" class="form-label">Pitanje</label>
                    <input 
                        type="text" class="form-control"
                        placeholder="Unesite pitanje vezano za anketu..."
                        [(ngModel)]="survey.question"
                    >
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-4">
                    <input type="number" class="form-control"  [(ngModel)]="numberOfValues" min="0" max="5" value="0">
                </div>
                <div class="col">
                    <button type="button" class="btn btn-success darkredBtn" (click)="handleNumberOfValues()">Postavite broj opcija za glasače</button>
                </div>
            </div>
            <div class="row mt-2" *ngFor="let item of survey.answerValue" >
                <div class="col">
                    <input 
                        type="text" class="form-control"
                        placeholder="unesite naziv opcije..."
                        [(ngModel)]="item.name"
                    >
                </div>
            </div>
            <div class="row justify-content-md-center mt-2">
                <button type="button" class="btn btn-success darkredBtn" (click)="handleResetSurvey()">Resetuj vrednosti</button>
            </div>
            <div class="row justify-content-md-center mt-2 ml-4 mb-2">
                <div class="col-3 pt-3">
                    <button type="button" class="btn btn-success">Sacuvaj izmenu ankete</button>
                </div>
                <div *ngIf="news.survey != null" class="col-4 pt-3">
                    <button type="button" class="btn btn-danger">Obrisi poslednje sacuvanu anketu</button>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="newsCopy.chart" class="row justify-content-md-center mt-3 ml-2 mr-2 mb-3">
        <div class="col-8 container card">
           <div class="row justify-content-md-center ml-2 mt-2">
               <h5>Izmeni postojeci grafik</h5>
           </div>
 
           <div class="row mt-2">
               <div class="col-6">
                   <label for="newsCopy.chart.description" class="form-label">Opis problema</label>
                   <input 
                       type="text" class="form-control"
                       [(ngModel)]="newsCopy.chart.description"
                   >
               </div>
           </div>

           <div class="row justify-content-md-center mt-2">
               <div class="col-3">
                   <input type="number" class="form-control"  [(ngModel)]="numberOfPoles" min="0" max="20">
               </div>
               <div class="col">
                   <button type="button" class="btn btn-success darkredBtn" (click)="handleNumberOfPoles()">Postavite broj broj stubića grafika</button>
               </div>
           </div>

           <div class="row mt-2" *ngFor="let item of newsCopy.chart.data" >
               <div class="col-4">
                   <input 
                       type="text" class="form-control"
                       [(ngModel)]="item.name"
                   >
               </div>
               <div class="col-3">
                   <input type="number" class="form-control"  [(ngModel)]="item.value" min="0" step="0.1">
               </div>
           </div>

           <div class="row justify-content-md-center mt-3 mb-3">
               <button type="button" class="btn btn-success darkredBtn" (click)="handleResetChart()">Resetuj</button>
           </div>
       </div>
   </div>
</div>