<div class="container-fluid  p-5" *ngIf="dataLoaded && myNews.length > 0">
  <div class="row">
    <div class="container d-flex rounded shadow flex-row pl-4 pr-4 pt-3 pb-3 mt-5 align-items-center justify-content-around" style="background-color: white;">
      <div class="row align-items-center">
        <h3 class="mr-4">
          Obriši vesti starije od navedenog datuma:
        </h3>
        <div>
          <input 
            type="datetime-local" id="meeting-time" name="meeting-time" [value]="chosenDateTime" 
            [disabled]="!canChooseDateTime" (change)="chosenDateTime=$event.target.value">
        </div>
      </div>
      <div>
        <button type="button" class="btn btn-success darkredBtn" (click)="clickDeleteDateTime()" *ngIf="canChooseDateTime">Obriši</button>
        <div class="row" ngbPopover="Potvrdite brisanje vesti" triggers="mouseenter:mouseleave" *ngIf="!canChooseDateTime">
          <button type="button" class="btn btn-success darkredBtn" (click)="confirmDeleteDateTime()">Potvrdi</button>
        </div>
        <div class="row" ngbPopover="Odustanite od brisanja vesti" triggers="mouseenter:mouseleave" *ngIf="!canChooseDateTime">
          <button type="button" class="btn btn-success darkredBtn" (click)="cancelDeleteDateTime()">Odustani</button>
        </div>
      </div>
    </div>
  </div>

  <div *ngFor="let news of myNews; index as i" class="row ">
    <div  class="container d-flex flex-row shadow rounded pl-4 pr-4 pt-3 pb-3 mt-5"  style="background-color: white;">
      <div class="col clickable" (click)="handleRedirectSpecificNews(news.id)">
        <div class="row">
          <img *ngIf="news.mainPicturePath" width="100%" height="240px" [src]="'data:image/png;base64,' + news.mainPicturePath">
          <img *ngIf="!news.mainPicturePath" width="100%" height="240px" src="../../../assets/logo_red.png" >
        </div>
      </div>
      <div class="col pl-5">
        <div class="row">
          <p>{{getProperDateTime(news.dateTime)}}</p>
        </div>
        <div class="row clickable" (click)="handleRedirectSpecificNews(news.id)">
          <h5>"{{news.title}}"</h5>
        </div>
        <div class="row">
          <p style="color: gray;">
            {{news.paragraphs[0].text.slice(0,250)}}...
          </p>
        </div>
      </div>
      <div ngbPopover="Obrišite vest" triggers="mouseenter:mouseleave" *ngIf="myClicks[i]==0">
        <i (click)="clickDelete(i)" class="clickable fa fa-times-circle fa-lg"  aria-hidden="true"></i>
      </div>
      <div *ngIf="myClicks[i] > 0" style="margin-left: 30px;">
        <div class="row" ngbPopover="Potvrdite brisanje vesti" triggers="mouseenter:mouseleave">
          <button type="button" class="btn btn-success darkredBtn" (click)="confirmDelete(i)">Potvrdi</button>
        </div>
        <div class="row" ngbPopover="Odustanite od brisanja vesti" triggers="mouseenter:mouseleave">
          <button type="button" class="btn btn-success darkredBtn" (click)="cancelDelete(i)">Odustani</button>
        </div>
      </div>
      <div ngbPopover="Izmenite vest" triggers="mouseenter:mouseleave" style="margin-left: 10px;">
        <i (click)="handleClickEditNews(i)" class="clickable fa fa-pencil fa-lg" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container d-flex rounded flex-row pl-4 pr-4 pt-3 pb-3 mt-5 align-items-center justify-content-around">
      <button 
          type="button" class="btn btn-success darkredBtn" (click)="handleLoadMoreNews()"
          [disabled]="noMoreNews" *ngIf="!noMoreNews">
          Učitaj još vesti
      </button>
    </div>
  </div>
</div>
<div class="row justify-content-center" *ngIf="dataLoaded && myNews.length <= 0">
  <div style="font-style: italic; font-size: 30px; font-weight: bold;"> Nemate objavljenih vesti </div>
</div>
<div *ngIf="!dataLoaded">
  <app-loading-screen></app-loading-screen>
</div>
