<meta charset="utf-8">
<title>Bootstrap News Template - Free HTML Templates</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="Bootstrap News Template - Free HTML Templates" name="keywords">
<meta content="Bootstrap News Template - Free HTML Templates" name="description">

<!-- Favicon -->
<link href="img/favicon.ico" rel="icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet"> 

<!-- CSS Libraries -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">


<div class="wrapper" *ngIf="isLoaded()">
    <!-- Top Bar Start -->
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="tb-contact">
                        <p><i class="fas fa-pen"></i>Piše: Pera Perić</p>
                        <p><i class="fas fa-calendar-alt"></i>{{news.dateTime}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Top Bar Start -->
    
    <!-- Breadcrumb Start -->
    <div class="breadcrumb-wrap">
        <div class="container">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Najnovije vesti</a></li>
                <li class="breadcrumb-item active">Sport</li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb End -->
    
    <!-- Single News Start-->
    <div class="single-news">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="sn-container">
                        <div class="sn-img" *ngIf="news.mainPicturePath">
                            <img [src]="'data:image/png;base64,' + news.mainPicturePath" />
                        </div>
                        <div class="sn-content">
                            <h1 class="sn-title">{{news.title}}</h1>
                            <div *ngFor="let paragraph of news.paragraphs">
                                <h3>{{paragraph.subTitle}}</h3>
                                <img *ngIf="paragraph.picturePath" [src]="'data:image/png;base64,' + paragraph.picturePath" />
                                <p>{{paragraph.text}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="sn-related" *ngIf="relatedNews && relatedNews.length > 0">
                        <h2>Povezane vesti</h2>
                        <div class="row sn-slider">
                            <div class="col-md-4" *ngFor="let news of relatedNews">
                                <div class="sn-img">
                                    <img *ngIf="news.mainPicturePath" [src]="'data:image/png;base64,' + news.mainPicturePath"/>
                                    <img *ngIf="!news.mainPicturePath" src="../../../assets/logo_red.png"/>
                                    <div class="sn-title">
                                        <a [href]="'specific-news/' + news.id">{{news.title}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="sn-related">
                        <h2>Comments</h2>
                        <div class="second py-2 px-2" *ngIf="!hasCommented">
                            <div class="mb-3">
                                <label for="nameEnter" class="form-label">Ime</label>
                                <input type="text" class="form-control" id="nameEnter" placeholder="Unesite ime" [(ngModel)]="newCommentWriter" >
                            </div>
                            <div class="mb-3">
                                <label for="commentEnter" class="form-label">Komentar</label>
                                <textarea class="enter-comment" placeholder="Unesite komentar" id="commentEnter" rows="3" [(ngModel)]="newComment" ></textarea>
                            </div>
                            <button 
                                type="button" class="btn btn-outline-primary"
                                [disabled]="!canComment()" (click)="handleAddComment()">
                                Pošalji
                            </button>
                        </div>
                        <div class="second py-2 px-2" *ngIf="hasCommented">
                            <strong>Hvala na komentaru!</strong>
                        </div>
                        <div class="second py-2 px-2" *ngFor="let comment of news.comments"> 
                            <span class="text1">{{comment.text}}</span>
                            <div class="d-flex justify-content-between py-1 pt-2 comment-writer">
                                <div><span class="text2">{{comment.authorsName}}</span></div>
                                <div>
                                    <span class="thumbup">
                                        <i class="fa fa-calendar-alt"></i>
                                    </span>
                                    <span class="text4">{{getProperDateTime(comment.dateTime)}}</span>
                                </div>
                            </div>
                        </div>
                        <button 
                            type="button" class="btn btn-outline-primary" (click)="handleLoadMoreComments()"
                            [disabled]="noMoreComments" *ngIf="!noMoreComments">
                            Učitaj još komentara
                        </button>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="sidebar">
                        <div class="sidebar-widget" *ngIf="news.survey">
                            <h4 class="sw-title">{{news.survey.question}}</h4>
                            <div class="news-list">
                                <div class="nl-item" *ngFor="let namedValue of news.survey.answerValue; index as i">
                                    <div class="nl-title" *ngIf="!votedSurvey">
                                        <input 
                                            class="form-check-input" type="radio" name="surveyAnswers" id="{{i}}" 
                                            value="{{i}}" [(ngModel)]="surveyAnswer">
                                        <label class="form-check-label" for="{{i}}">
                                            {{namedValue.name}}
                                        </label>
                                    </div>
                                    <div style="width: 100%" *ngIf="votedSurvey">
                                        <div class="nl-title" style="width: 100%;">
                                            {{namedValue.name}}
                                        </div>
                                        <div class="nl-title" style="width: 100%;">
                                            <ngb-progressbar textType="white" [value]="calculateSurveyProgressbarPercentage(namedValue.value)"> 
                                                {{namedValue.value}} 
                                            </ngb-progressbar>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button 
                                type="button" class="btn btn-outline-primary" (click)="handleVoteSurvey()"
                                [disabled]="surveyAnswer < 0" *ngIf="!votedSurvey">
                                Glasajte
                            </button>
                        </div>
                        
                        <div class="sidebar-widget" *ngIf="news.chart">
                            <div class="tab-news">
                                <div class="tab-content">
                                    <h4 class="sw-title">{{news.chart.description}}</h4>
                                    <div id="featured" class="container tab-pane active">
                                        <div style="width: 100%; margin-bottom: 20px;" *ngFor="let pieceOfData of news.chart.data">
                                            <div class="nl-title" style="width: 100%;">
                                                {{pieceOfData.name}}
                                            </div>
                                            <div class="nl-title" style="width: 100%;">
                                                <ngb-progressbar textType="white" [value]="calculateChartProgressbarPercentage(pieceOfData.value)"> 
                                                    {{pieceOfData.value}} 
                                                </ngb-progressbar>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="sidebar-widget" *ngIf="news.tags && news.tags.length > 0">
                            <i style="margin-bottom: 10px" class="fas fa-tag fa-3x"></i>
                            <div class="tags">
                                <div *ngFor="let tag of news.tags"> {{tag}} </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Single News End--> 

    

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/slick/slick.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</div>
<div class="container d-flex justify-content-center align-items-center" style="height: 300px;" *ngIf="!isLoaded()">
    <div class="spinner-border" role="status" >
      <span class="sr-only">Loading...</span>
    </div>
</div>
