<div class="container-fluid">
  <div class="row">
    <div class="col" style="height: 70px; background-color: #8B0000;">
      <div class="row justify-content-between">
        <div class="col-8 d-flex  pt-3 pl-5">
          <p style="color: white; font-weight: 500; cursor: pointer; font-size: 18px;">Najnovije Vesti</p>
        </div>
        <div class="col-1 pt-3">
          <p style="color: white; font-weight: 500; cursor: pointer; font-size: 18px;">Log In</p>
        </div>
      </div>
    </div>
  </div>
</div>