<div class="container-fluid" *ngIf="showMenu" >
  <div class="row">
    <div class="col" style="height: 70px; background-color: #8B0000;">
      <div class="row justify-content-between">
        <div class="col-5  d-flex  pt-4 pl-5">
          <!-- <p style="color: white; font-weight: 500; cursor: pointer; font-size: 18px;">Najnovije Vesti</p> -->
          <!-- <li *ngFor="let link of getNavLinks(); index as i"> -->
            <div *ngFor="let link of getNavLinks()">
              <p (click)="handleRedirect(link.link)" style="color: white; font-weight: 500; cursor: pointer; font-size: 18px; margin-right: 20px;" >{{link.text}}</p>
            </div>
          <!-- </li> -->
        </div>
        <div class="col-5 ">
          <img style="position: relative; bottom: 20px;" width="115px" height="110px" src="\assets\logo.png">
        </div>
        <div (click)="handleViewProfile()" *ngIf="this.service.logedIn()" class="col-1 d-flex justify-content-center pt-4">
          <p style="color: white; font-weight: 500; cursor: pointer; font-size: 18px;">Moj profil</p>
        </div>
        <div class="col-1 pt-4">
          <p style="color: white; font-weight: 500; cursor: pointer; font-size: 18px;" (click)="logInTemp()">{{logText()}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>